.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../../images/254seogeek-login.jpg);
  background-size: cover;
}
.loginTitle {
  font-size: 50px;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm > label {
  margin: 10px 0;
}
.loginForm > input {
  padding: 10px;
  background-color: white;
  border: none;
}
.loginForm > input:focus {
  outline: none;
}
.loginBtn {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.loginBtn:disabled {
  cursor: not-allowed;
  background-color: rgb(238, 160, 160);
}
.loginRegisterBtn {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
